In [1]:
# Script to train machine learning model.

from sklearn.model_selection import train_test_split, cross_val_score

# Add the necessary imports for the starter code.

from ml.model import train_model, compute_model_metrics, inference
from ml.data import process_data

import pandas as pd

In [2]:
data = pd.read_csv('/Users/david/Code/digerian/nd_mlops_fastapi/data/census.csv')

In [3]:
data.columns = data.columns.str.strip()

In [4]:
train, test = train_test_split(data, test_size=0.20)

In [5]:
train

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
31153,53,Self-emp-not-inc,187830,Assoc-voc,11,Separated,Craft-repair,Not-in-family,White,Male,0,0,40,Poland,<=50K
20826,81,?,147097,Bachelors,13,Widowed,?,Not-in-family,White,Male,0,0,5,United-States,<=50K
7845,36,Private,156400,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
19372,32,Self-emp-not-inc,182691,HS-grad,9,Never-married,Other-service,Unmarried,White,Male,0,0,60,United-States,<=50K
23320,56,Local-gov,52953,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,1669,38,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14435,39,Self-emp-inc,168355,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,70,United-States,<=50K
27244,33,State-gov,200289,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,19,India,<=50K
28957,21,?,509629,Some-college,10,Never-married,?,Own-child,White,Female,0,0,35,United-States,<=50K
25646,36,Private,52327,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Other,Male,0,0,40,Iran,>50K
5597,26,Private,262617,HS-grad,9,Never-married,Craft-repair,Other-relative,White,Male,2597,0,40,United-States,<=50K

In [6]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [7]:
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
    )

In [8]:
X_train

array([[5.30000e+01, 1.87830e+05, 1.10000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [8.10000e+01, 1.47097e+05, 1.30000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.60000e+01, 1.56400e+05, 1.00000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [2.10000e+01, 5.09629e+05, 1.00000e+01, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.60000e+01, 5.23270e+04, 1.40000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [2.60000e+01, 2.62617e+05, 9.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [9]:
X_test, y_test, encoder, lb = process_data(
    test, categorical_features=cat_features, label="salary", training=True
    )

In [10]:
model = train_model(X_train,y_train)

In [12]:
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
model.predict(X_test)

In [ ]:
# Optional: implement hyperparameter tuning.
def train_model(X_train, y_train):
    """
    Trains a machine learning model and returns it.

    Inputs
    ------
    X_train : np.array
        Training data.
    y_train : np.array
        Labels.
    Returns
    -------
    model
        Trained machine learning model.
    """

    lr = LogisticRegression(C=1.0)
    lr.fit(X_train, y_train)

    return lr

def compute_model_metrics(y, preds):
    """
    Validates the trained machine learning model using precision, recall, and F1.

    Inputs
    ------
    y : np.array
        Known labels, binarized.
    preds : np.array
        Predicted labels, binarized.
    Returns
    -------
    precision : float
    recall : float
    fbeta : float
    """
    fbeta = fbeta_score(y, preds, beta=1, zero_division=1)
    precision = precision_score(y, preds, zero_division=1)
    recall = recall_score(y, preds, zero_division=1)
    return precision, recall, fbeta


def inference(model, X):
    """ Run model inferences and return the predictions.

    Inputs
    ------
    model : ???
        Trained machine learning model.
    X : np.array
        Data used for prediction.
    Returns
    -------
    preds : np.array
        Predictions from the model.
    """
    preds = model.predict(X)
    return preds

In [ ]:
assert data.shape == data.dropna().shape

In [ ]:
model